:root[data-style="brutal"] .cube-container {
  display: block;
}

:root[data-style="brutal"] h1 {
  font-size: clamp(2rem, 30vw, 20rem);
  font-weight: 700;
  text-transform: uppercase;
}

.cube-container {
  display: none;
  --size: min(35vmin, 500px);
  perspective: 100vmin;
  -webkit-perspective: 100vmin;
  will-change: transform;
}
.cube {
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  animation: cubeRotateX 15s linear infinite;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

@keyframes cubeRotateX {
  from {
    transform: rotateX(0deg) rotateZ(45deg) rotateY(-45deg);
  }
  to {
    transform: rotateX(360deg) rotateZ(45deg) rotateY(-45deg);
  }
}

@-webkit-keyframes cubeRotateX {
  from {
    -webkit-transform: rotateX(0deg) rotateZ(45deg) rotateY(-45deg);
  }
  to {
    -webkit-transform: rotateX(360deg) rotateZ(45deg) rotateY(-45deg);
  }
}

@keyframes cubeRotateY {
  from {
    transform: rotateY(0deg) rotateZ(45deg) rotateY(-45deg);
  }
  to {
    transform: rotateY(360deg) rotateZ(45deg) rotateY(-45deg);
  }
}

.side {
  position: absolute;
  width: calc(var(--size) + 1px);
  height: calc(var(--size) + 1px);
  background-color: #eee;
  backface-visibility: visible;
  top: calc(var(--size) * -0.5);
  left: calc(var(--size) * -0.5);
  box-shadow: inset 0px 0px 0px 5px var(--text-color);
  box-sizing: border-box;
  background-color: transparent;
}
.top {
  transform: rotateX(90deg) translateZ(calc(var(--size) * 0.5));
}
.bottom {
  transform: rotateX(90deg) translateZ(calc(var(--size) * -0.5));
}
.left {
  transform: rotateY(90deg) translateZ(calc(var(--size) * 0.5));
}
.right {
  transform: rotateY(90deg) translateZ(calc(var(--size) * -0.5));
}
.front {
  transform: translateZ(calc(var(--size) * 0.5));
}
.back {
  transform: translateZ(calc(var(--size) * -0.5));
}

.inner-cube {
  width: calc(var(--size) * 0.5);
  height: calc(var(--size) * 0.5);
  position: absolute;
  top: calc(var(--size) * -0.25);
  left: calc(var(--size) * -0.25);
  /* transform: rotateX(0deg) rotateZ(45deg) rotateY(-45deg); */
  transform-style: preserve-3d;
  animation: cubeRotateY 15s linear infinite;
}

.inner-side {
  background-color: transparent;
  height: 100%;
  width: 100%;
  backface-visibility: visible;
  box-shadow: inset 0px 0px 0px 3px var(--text-color);
  box-sizing: border-box;
  outline: 1px solid var(--text-color);
}

.inner-top {
  transform: rotateX(90deg) translateZ(calc(var(--size) * 0.25));
}
.inner-bottom {
  transform: rotateX(90deg) translateZ(calc(var(--size) * 0.25));
}
.inner-left {
  transform: rotateY(90deg) translateZ(calc(var(--size) * 0.25))
    translateY(calc(var(--size) * -2));
}
.inner-right {
  transform: rotateY(90deg) translateZ(calc(var(--size) * -0.25))
    translateY(calc(var(--size) * -2.5));
}
.inner-front {
  transform: translateZ(calc(var(--size) * 0.25))
    translateY(calc(var(--size) * -1));
}
.inner-back {
  transform: translateZ(calc(var(--size) * -0.25))
    translateY(calc(var(--size) * -1.5));
}

@media (max-width: 768px) {
  .cube,
  .inner-cube {
    animation-duration: 20s;
  }
}

@media (prefers-reduced-motion: reduce) {
  .cube,
  .inner-cube {
    animation-duration: 30s;
    animation-timing-function: linear;
  }
}
